body{
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color {
    color: #4D5AE5;
}

.header-list a{
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-list a:hover,
.header-list a:focus
{
    color: #404BBF;
}

.header-list a:active {
    color: #404BBF;
    text-decoration: underline;
}

.header-address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.header-address a:hover,
.header-address a:focus {
    color: #404BBF;
}

.main-order {
    color: #FFF;
    background-color: #2E2F42;
}

.main-order-header {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-order-button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04px;
}

.main-order-button:hover,
.main-order-button:focus {
    background-color: #404BBF;
}

.main-team {
    background-color: #F4F4FD;
}

.main-team-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.020em;
    text-transform: capitalize;
}

.main-team-list h3{
    text-align: center;
}

.main-team-list p {
    text-align: center;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}